@import 'mixins';
@import 'vars';
@import 'vendor/reset';
// @font-face {
//   font-family: 'Gilroy';
//   src: url(assets/fonts/Gilroy);
// }
html {
  font-size: 18x;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #fff;

  background-color: #0b1d26;
  background-image: url('/assets/images/bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;

  &._lock {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

img {
  vertical-align: unset;
}

/* Blocks */
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/container';
@import 'blocks/btn';
@import 'blocks/nav';
@import 'blocks/intro';
@import 'blocks/subtitle';
@import 'blocks/section';
@import 'blocks/footer';
