@font-face {
  font-family: 'Chronicle Display';
  src: url('Chronicle-Bold.eot');
  src: local('Chronicle Bold'), url('Chronicle-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('Chronicle-Semi-Bold.eot');
  src: local('Chronicle Semi-Bold'), url('Chronicle-Semi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
