.nav {
  &--mobile {
    margin: auto 0;
  }

  @include breakpoint(768px) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    & .nav__link {
      position: relative;

      font-weight: 700;
      line-height: 21px;

      transition: all 0.2s linear;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &--mobile {
        font-size: 35px;
        line-height: 30px;

        &:not(:last-child) {
          margin: 0 0 40px;
        }
      }

      & a::after {
        position: absolute;
        bottom: -6px;
        right: 0;
        content: '';

        width: 100%;
        border: 1px solid transparent;

        transition: all 0.2s linear;
      }

      &:hover {
        color: $accent;

        & a::after {
          border-color: $accent;
        }
      }
    }

    &--mobile {
      flex-direction: column;
      text-align: center;
    }
  }

  &--mobile {
    @include breakpoint(768px) {
      display: block;
    }
  }
}
