.section {
  padding: 100px 0px;

  &__inner {
    display: flex;
    align-items: center;

    &--reverse {
      flex-direction: row-reverse;

      @include breakpoint(1360px) {
        flex-direction: column-reverse !important;
      }
    }

    @include breakpoint(1360px) {
      flex-direction: column;
    }
  }

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  &__block {
    position: relative;

    flex: 1 1 70%;
    max-width: 632px;

    margin-right: 114px;

    &--reverse {
      margin: 0 0 0 114px;

      @include breakpoint(1360px) {
        margin: 120px 0 0 !important;
      }
    }

    @include breakpoint(1360px) {
      margin: 0 0 60px;

      max-width: 800px;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: -150px;
    width: 20px;

    font-size: 240px;
    line-height: 0;
    font-weight: 700;

    color: #fff;
    opacity: 0.1;

    @include breakpoint(1800px) {
      left: -50px;
      top: -35px;
    }
    @include breakpoint(1570px) {
      left: 0;
    }
    @include breakpoint(1360px) {
      left: -150px;
    }
    @include breakpoint(1100px) {
      font-size: 140px;

      left: -50px;
      top: -10px;
    }
    @include breakpoint(992px) {
      left: 0;
    }
    @include breakpoint(480px) {
      font-size: 100px;
    }
  }

  &__subtitle {
    margin-bottom: 27px;

    @include breakpoint(480px) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-family: Chronicle Display;
    font-size: 64px;
    line-height: 77px;

    margin-bottom: 27px;

    @include breakpoint(1100px) {
      font-size: 54px;
      line-height: 57px;
    }
    @include breakpoint(780px) {
      font-size: 34px;
      line-height: 30px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;

    margin-bottom: 27px;

    @include breakpoint(1100px) {
      font-size: 16px;
      line-height: 26px;
    }
    @include breakpoint(780px) {
      font-size: 14px;
      line-height: 20px;
    }
    @include breakpoint(360px) {
      line-height: 18px;
    }
  }

  &__link {
    position: relative;

    padding-right: 40px;

    line-height: 22px;

    color: $accent;

    &:hover {
      &::after {
        right: -8%;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      content: '';

      width: 24px;
      height: 16px;

      background: url('../images/sections/arrow__right.svg');
      background-repeat: no-repeat;

      transition: all 0.2s linear;
    }
  }

  &__img {
    flex: 1 1 30%;

    max-width: 100%;
    text-align: right;

    &--reverse {
      text-align: left;
    }

    & img {
      max-width: 100%;
    }
  }
}
