<header class="header">
  <div class="container container--header">
    <div class="header__inner">
      <a href="/" class="header__logo">
        <img src="assets/images/logo.svg" alt="logo" />
      </a>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__link"><a href="#">Equipment</a></li>
          <li class="nav__link"><a href="">About us</a></li>
          <li class="nav__link"><a href="">Blog</a></li>
        </ul>
      </nav>

      <a href="/account" class="header__account">
        <span class="account__text">Account</span>
      </a>

      <div class="header__menu">
        <div class="menu__wrapper">
          <nav class="nav nav--mobile">
            <ul class="nav__list nav__list--mobile">
              <li class="nav__link nav__link--mobile"><a href="/equipment">Equipment</a></li>
              <li class="nav__link nav__link--mobile"><a href="/about-us">About us</a></li>
              <li class="nav__link nav__link--mobile"><a href="/blog">Blog</a></li>
            </ul>
          </nav>

          <a href="/account" class="header__account--mobile">
            <span class="account__text--mobile">Account</span>
          </a>
        </div>
      </div>
      <div class="header__icon">
        <span></span>
      </div>
    </div>
  </div>
  <!-- container -->
</header>
<!-- header -->
